<!DOCTYPE html>
<html lang="en">

   <head>
      <meta charset="UTF-8">
      <title>shop</title>
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
         integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
         integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
         crossorigin="anonymous"></script>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
         integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
         crossorigin="anonymous" />
      <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
   </head>

   <body>
      <nav class="navbar fixed-bottom navbar-light bg-info justify-content-between">
         <div class="container">
            <div class="row w-100 d-flex justify-content-between">
               <div class="col-8">
                  <a href="tel:0034643529241" class="navbar-brand">0034 643529241</a>
                  <a href="mailto:silviu.iulian734@gmail.com" class="navbar-brand">silviu.iulian734@gmail.com</a>
               </div>
               <div class="col-4 d-flex justify-content-end p-0">
                  <a class="contact-links" target="_blank" href="https://www.facebook.com/samson.silviu.5"><i class="fab fa-facebook-square"></i></a>
                  <a class="contact-links" target="_blank" href="https://github.com/sam3177"><i class="fab fa-github"></i></a>
                  <a class="contact-links" target="_blank" href="https://www.linkedin.com/in/silviu-samson-4b55a91b5 "><i class="fab fa-linkedin"></i></a>
               </div>
            </div>
         </div>
         <a class="admin-login" href="/login">Admin Login</a>
      </nav>
      <nav class="navbar fixed-top navbar-expand navbar-light bg-light">
         <div class="container">
            <a class="navbar-brand" href="/">Sam's shop</a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
               <ul class="navbar-nav me-auto d-flex justify-content-end mb-lg-0 nav-content">
                  <li class="nav-item">
                     <a class="btn btn-secondary" href="/cart"><i class="fas fa-shopping-cart"></i> Cart</a>
                  </li>
               </ul>
            </div>
         </div>
      </nav>