<style>
   #under-construction{
   width: 100vw;
}
#under-construction>img{
   object-fit: cover;
   width: 100%;

}
</style>


<div id="under-construction">
   <img src="http://balti.md/wp-content/uploads/2018/11/WEBPageConstructionEN.jpg"/>
</div>
