<%- include('partials/header') %>
<div class="ui main text container segment">
   <!-- <div class="ui huge header">Products</div> -->
   
</div>



<h1>home page</h1>


<%- include('partials/footer') %>
