

   .nav-content{
      display: flex;
      width: 100%;
      justify-content:space-between;
   }
   .user{
      display: flex;
      flex-direction:row;
   }
.error-msg{
   color: red;
   font-size: 10px;
}
label{
   width: 100%;
}
.redirect-form{
   text-decoration: none;
}

.contact-links{
   margin: 0 .5rem;
   color: white;
   text-decoration: none;
}
.contact-links>i{
   font-size: 2rem;
}
.product-count{
   width: 50px;
}
.product-img{
   object-fit: contain;
}
.list-content{
   margin: 10vh auto;
}

